samples/c/.lck
samples/c/.pc
samples/c/iot
samples/c/debian/files
samples/c/debian/iot.debhelper.log
samples/c/debian/iot.postinst.debhelper
samples/c/debian/iot.postrm.debhelper
samples/c/debian/iot.prerm.debhelper
samples/c/debian/iot.substvars
samples/c/debian/iot/

