Package: iot
Version: 1.0-1
Architecture: armhf
Maintainer: Jeffrey Dare <jeffdare@in.ibm.com>
Installed-Size: 296
Depends: libc6 (>= 2.13-28)
Section: unknown
Priority: extra
Homepage: http://www.ibm.com
Description: This is a sample code for connecting Raspberry Pi to the IoT
